<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<!-- WE WILL HAVE TO CHANGE SOME OF THIS STUFF, DO NOT WANT TO ALLOW CUSTOMERS TO HAVE ACCESS TO CREATE/CHANGE EVENTS -->

<main>
    <div class="col">
        <%- include ('../partials/message') %>
    </div>
    <div class="container">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <h1>Calendar</h1>
        <div class="container">
            <div id="calendar" class="row">
    
            </div>
            <div class="modal" tabindex="-1" id="event-modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Create Event</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3" id="event_name">
                              <label class="form-label">Name</label>
                              <input type="text" class="form-control" id="event-name" aria-label="Event Name" required>
                            </div>
                            <div class="input-group mb-3" id="weekdays">
                                <label class="input-group-text" for="weekday">Weekday</label>
                                <select class="form-select" id="weekday">
                                  <option value="monday">Monday</option>
                                  <option value="tuesday">Tuesday</option>
                                  <option value="wednesday">Wednesday</option>
                                  <option value="thursday">Thursday</option>
                                  <option value="friday">Friday</option>
                                  <option value="saturday">Saturday</option>
                                  <option value="sunday">Sunday</option>
                                </select>
                            </div>
                            <div class="mb-3" id="Time">
                                <label class="form-label">Time</label>
                                <input type="time" class="form-control" id="time" aria-label="Time" pattern="^([0-1]?[0-9]:([0-5][0-9])(:[0-5][0-9])?$" placeholder="12:30" required>
                            </div>
                            <!-- "this.value" passed to updateLocationOptions() refers to the text in the "value" attribute
                            of the option that is chosen by the user -->
                            <div class="input-group mb-3" id="event-modality">
                              <label class="input-group-text" for="inputGroupSelect01">Modality</label>
                              <select
                                  class="form-control"
                                  id="modality"
                                  required
                                  onchange="updateLocationOptions(this.value)"
                                >
                                <option value="in-person" default>In Person</option>
                                <option value="remote">Remote</option>
                              </select>
                            </div>
                            <div class="mb-3" id="remote_url">
                                <label class="form-label">Remote URL</label>
                                <input type="text" class="form-control" id="url" aria-label="Remote URL" placeholder="example.com/meetingID">
                            </div>
                            <div class="mb-3" id="Location">
                                <label class="form-label">Location</label>
                                <input type="text" class="form-control" id="location" aria-label="Location" placeholder="123 Through Street">
                            </div>
                            <div class="mb-3" id="Attendees">
                                <label class="form-label">Attendees</label>
                                <input type="text" class="form-control" id="attendees" aria-label="Attendees" placeholder="Jane Doe, John Smith, ...">
                            </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" id="submit_button">Create Event</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
        </div>

    </div>
</main>

<%- include ('../partials/footer') %>