<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
  <style>  
      .checked {  
          color : yellow;  
          font-size : 20px;  
      }  
      .unchecked {  
          font-size : 20px;  
      }  
  </style> 
</head>
<main>
  <header class="bg-dark py-5">
             <div class="container px-4 px-lg-5 my-5">
                 <div class="text-center text-white">
                     <h1 class="display-4 fw-bolder">Boulder's Best</h1>
                     <p class="lead fw-normal text-white-50 mb-0">Find the best deals and unique dining experiences Boulder has to offer</p>
                 </div>
             </div>
         </header>
         <!-- Section-->
         <section class="py-5">
             <div class="container px-4 px-lg-5 mt-5">
               
               <h2> Top Restaurants 
               </h2>
                 <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                     <div class="col mb-5">
                         <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                     </div>
                     <div class="col mb-5">
                         <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                     </div>
                     <div class="col mb-5">
                         <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                     </div>
                     <div class="col mb-5">
                         <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                     </div>
                   
                 </div>
             </div>
           <div class="container px-4 px-lg-5 mt-5">
               <h2> Highest Rated </h2>
                 <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                     <div class="col mb-5">
                         <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                     </div>
                     <div class="col mb-5">
                        <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                     </div>
                     <div class="col mb-5">
                         <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                     </div>
                     <div class="col mb-5">
                         <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                   </div>
                   
                   
                 </div>
             </div>
           
           <div class="container px-4 px-lg-5 mt-5">
               <h2> This Week's Events     <button type="button" class="btn btn-link">See More</button>
 </h2>
                 <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                     <div class="col mb-5">
                         <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                     </div>
                     <div class="col mb-5">
                        <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                     </div>
                     <div class="col mb-5">
                         <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                     </div>
                     <div class="col mb-5">
                         <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                   </div>
                   
                   
                 </div>
             </div>
           <div class="container px-4 px-lg-5 mt-5">
               <h2> Today's Deals  <button type="button" class="btn btn-link">See More</button> </h2>
                 <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                     <div class="col mb-5">
                         <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                     </div>
                     <div class="col mb-5">
                         <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                     </div>
                     <div class="col mb-5">
                        <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                     </div>
                     <div class="col mb-5">
                         <div class="card h-100">
                             <!-- Restaurant Image-->
                             <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!--  Restaurant name-->
                                     <h5 class="fw-bolder">Restaurant Name</h5>
                                      
      
                                     <!-- To display checked star rating icons -->  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <span class = "fa fa-star checked"></span>  
                                     <!-- To display unchecked star rating icons -->  
                                     <span class = "fa fa-star unchecked"></span>  
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Learn More</a></div>
                             </div>
                         </div>
                   </div>
                   
                   
                 </div>
             </div>
         </section>
 </main>

<%- include ('../partials/footer') %>