<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="col">
        <%- include ('../partials/message') %>
    </div>
    <div class="contaner">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <h1>Events</h1>
        <h3> This Week </h3>
        <div class="row row-cols-4 g-4">
            <div class="col">
                <div class="card">
                    <img src="../../resources/img/Avanti_Ext.jpeg" class="card-img-top" alt="Avanti exterior">
                    <div class="card-body">
                        <h5 class="card-title">Bingo at Avanti</h5>
                        <p class="card-text">Monday, 7pm - 8:30am </h4> 
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../resources/img/TuneupTavern.jpeg" class="card-img-top" alt="Tuneup Tavern cup and interior">
                    <div class="card-body">
                        <h5 class="card-title">Trivia at The Tuneup Tavern</h5>
                        <p class="card-text">Wednesday, 7pm - 9pm </h4> 
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../resources/img/OutbackSaloon.png" class="card-img-top" alt="Outback Saloon logo">
                    <div class="card-body">
                        <h5 class="card-title">Karaoke at the Outback Saloon</h5>
                        <p class="card-text">Wednesday, 9pm - 1:30am </h4> 
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../resources/img/BoulderSocial.jpg" class="card-img-top" alt="Boulder Social exterior">
                    <div class="card-body">
                        <h5 class="card-title">Live Music at The Boulder Social</h5>
                        <p class="card-text">Saturday, 5pm - 8pm </h4> 
                    </div>
                </div>
            </div>
        </div>
        <h3> Next Week </h3>
        <div> 

        </div>
        <h3> This Month </h3>

    </div>
</main>

<%- include ('../partials/footer') %>