<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="col">
        <%- include ('../partials/message') %>
    </div>
    <div class="container">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <h1>Events</h1>

    </div>
</main>

<%- include ('../partials/footer') %>